[Desktop Entry]
Categories=Graphics;Photography;
Comment=A blazingly-fast, non-destructive, and GPU-accelerated RAW image editor built with performance in mind.
Exec=MonoRin
Icon=MonoRin
Name=MonoRin
Terminal=false
Type=Application
